.App {
  text-align: center;
}

.main-link-list {
  display: flex;
  justify-content: space-evenly; /* Horisontaalne keskjoondus */
  
}

.main-link {
  color: rgb(66, 18, 18);
  background-color: white;
  width: 300px;
  height: 200px;
  margin-top: 20px;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center; /* Teksti keskjoondus */
}

.main-link img {
  width: 250; /* Muutke vastavalt soovile */
  height: 160px; /* Võimaldab pildi säilitada proportsioonid */
}

.main-link p {
  font-family: 'roboto'; /* Vahemaa ülevalt pildist */
}

.pilt {
  width: 250; /* Muutke vastavalt soovile */
  height: 160px;
}
