.App {
  text-align: center;
  
}

body {
    background: linear-gradient(to bottom, #000000 50%, #ff0000d2 100%);
  }

.main-link-list {
  /* display: flex; */
  text-align: center;
}

.main-link {
  display: inline-block; /* Muudab elemendi blokelemendist in-line blokelemendiks */
  margin: 10px; /* Väike vahe iga elemendi vahel */
  font-size: 12px;
}

.main-link img {
  width: 300px; /* Muutke vastavalt vajadusele */
  height: auto; /* Säilitab pildi proportsioonid */
  border: 3px solid #1ff50b; /* Vaikimisi borderi värv */
  border-radius: 10px; /* Lisab piltidele ümardatud nurgad */
  box-shadow: 0 0 20px rgb(0, 0, 0); /* Lisab varju piltide ümber */
  transition: border-color 0.2s ease; /* Animatsioon üleminekuks */
}
.main-link img:hover {
  border-color: #ff0000; /* Borderi värv hiirega peale minnes */
}
.main-link p {
  margin: 10px;
  
}
.separator {
  width: 9%; /* Reguleerige vastavalt soovile */
  height: 3px; /* Joon kõrgus */
  background-color: #09a5ff; /* Joon värv */
  margin: 20px auto; /* Paigutab joone horisontaalselt keskele ja lisab ülemise ja alumise marginaali */
  position: absolute; /* Absoluutne positsioneerimine */
  top: 55%; /* Ülaosas, lehe keskel */
  left: 45%; /* Horisontaalselt, lehe keskel */
  transform: translateY(-50%); /* Liigutab joone vertikaalselt ülespoole, et asuda täpselt lehe keskel */
}

.headerImg {
  height: 300px;
  margin-top: 0px; /* Suurem ülemine vahe */
  margin-left: 40px; /* Polsterdus vasakult */
  margin-right: 20px; /* Polsterdus paremalt */
  object-fit: cover;
  width: calc(100% - 90px); /* Lahutab polsterduse laiusest, et säilitada täielik laius */
  border-radius: 0 0 10px 10px; /* Määrab nurgad ümardavate radiauste suuruse */
}
  .headerText {
    margin-top: 50px; /* Muudab ülemist vahe teksti ja ülemise pildi vahel */
    text-align: center; /* Kesktõmbab teksti horisontaalselt */
    font-weight: bold;
    font-size: 25px;
    color: #00c1fc;
    /* background-color: #020202; */
  }
  

.pilt1, .pilt2, .pilt3 {
  width: 100px; 
  height: 300px;
  border: 3px solid #f5f10b; 
  margin-right: 10px; /* Väike parem vahe, et eraldada järgmisest pildist */
  margin-top: 200px;
}
.pilt1:hover, .pilt2:hover, .pilt3:hover {
  transform: scale(1.2); /* Muudab pildi suurust 20% võrra suuremaks hiirega peale liikudes */
  transition: transform 0.3s ease; /* Lisab ülemineku efekti suuruse muutmisel */
}
/* Tagasiliikumise nupp */
.nupp {
  /* Lisage oma soovitud stiilireeglid siia */
  color: rgb(5, 5, 5);
  background-color: #4ab9fa;
  padding: 2px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  position:absolute;
  top: 20px;
  right: 20px;
}
.nupp:hover {
  background-color: #fab44a;
}

 .course-txt {
  font-style: italic;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100px; /* Näiteks */
  display: flex;
  justify-content: center; /* Horisontaalne keskmine paigutus */
  align-items: center; /* Vertikaalne keskmine paigutus */
  color: #00c1fc;

 }

 .video {
  border: 3px solid #0bf51f; 
  display: block; /* Veenduge, et video oleks blokelemendina */
  margin: 0 auto; /* Auto marginaal, et paigutada keskele */
  margin-top: 30px;
 }
 .video:hover {
  border-color: #ff0000; /* Borderi värv hiirega peale minnes */
 }

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000 50%, #ff0000d2 100%);
  z-index: -1; /* Veenduge, et taust oleks teiste elementide taga */
}

/* Courses nupud */
.aktiivne-nupp {
  background-color: #fab44a; /* Aktiivse nupu taustavärv */
  color: rgb(0, 0, 0); /* Teksti värv */
  border: none; /* Piirjoone puudumine */
  border-radius: 5px; /* Nupu ümardatud nurkad */
  padding: 2px 20px; /* Nupu sisemine täitmine */
  font-size: 16px; /* Teksti suurus */
  cursor: pointer; /* Kursori tüüp */
  margin: 0 10px;
}

.pole-valitud-nupp {
  background-color: #4ab9fa ; /* Mitteaktiivse #4ab9fa nupu taustavärv */
  color: black; /* Teksti värv */
  border: 1px solid #030303; /* Piirjoon */
  border-radius: 5px; /* Nupu ümardatud nurkad */
  padding: 2px 20px; /* Nupu sisemine täitmine */
  font-size: 16px; /* Teksti suurus */
  cursor: pointer; /* Kursori tüüp */
  margin: 0 10px;
}

.pole-valitud-nupp:hover {
  background-color: #fab44a; /* Nupu taustavärvi muutmine hiirega üle libistamisel */
}

.nupp-container {
  display: flex; /* Muudab konteineri kõrval asetsevateks elementideks */
  justify-content: center; /* Horisontaalne joondamine keskele */
  margin-top: 20px; /* Vahemaa ülevalt */
}

.aktiivne-nupp,
.pole-valitud-nupp {
  margin: 0 10px; /* Lisa vahemaa nuppude vahel */
}

.social-media-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Valige soovitud vahemaa lehe ülaosast */
}
.social-media-button {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Soovitud vahemaa ikoonide vahel */
}
.social-media-icon {
  width: 27px; /* Muutke vastavalt soovitud suurusele */
  height: auto;
}
.social-media-link {
  text-decoration: none; /* Eemaldab lingi vaikimisi stiili */
}
.social-media-icon:hover {
  transform: scale(1.3); /* Muudab pildi suurust 20% võrra suuremaks hiirega peale liikudes */
  transition: transform 0.3s ease; /* Lisab ülemineku efekti suuruse muutmisel */
}