.App {
  text-align: center;
}

.textAligin {
  text-align: center;
}

.lang {
  width: 30px;
  height: 30px;
  margin: 5px;
  transition: transform 0.3s ease;
}

.lang:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.lan:active {
  padding: 1px;
}

/* table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: #c2f4f8; 
} */

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 5px;
}

.delete-btn {
  font-size: 12px;
  border-radius: 7px; 
  background-color: rgba(247, 138, 14, 0.452);
}

.change-btn {
  font-size: 12px;
  border-radius: 7px; 
  background-color: rgba(14, 232, 247, 0.452);
}

.edit-btn {
  font-size: 15px;
  border-radius: 7px;
}

.toast {
  bottom: 20px;
  right: 20px;
}

 .map {
  height: 300px;
  margin: 3%;
  border-radius: 10px;
 }

 .shop {
  margin-bottom: 10px;
  
 }
 .shop_container {
  width: calc(20% - 80px);
  border-radius: 10px;
  border: 1px solid #f0f0f0;
  background-color: rgb(238, 238, 238);
  text-align: center;
  padding: 10px;
  margin: 40px;
 }

 
 

 
 