.main-link-list {
  text-align: center;
}

.main-link {
  display: inline-block; /* Muudab elemendi blokelemendist in-line blokelemendiks */
  margin: 10px; /* Väike vahe iga elemendi vahel */
  font-size: 12px;
}

.main-link img {
  width: 25vh; /* Muutke vastavalt vajadusele */
  height: 15vh; /* Säilitab pildi proportsioonid */
  border-width: 2px;
  border-style: solid;
  animation: colorChange 5s infinite alternate;
  border-radius: 10px; /* Lisab piltidele ümardatud nurgad */
  box-shadow: 0px 0px 60px rgba(112, 0, 143, 0.993);  
  transition: border-color 0.2s ease; /* Animatsioon üleminekuks */
}

@keyframes colorChange {
  0% { border-color: rgb(242, 12, 181); }
  50% { border-color: rgb(75, 29, 139); }
  100% { border-color: rgb(5, 17, 242); }
}


.separator {
  width: 9%; /* Reguleerige vastavalt soovile */
  height: 3px; /* Joon kõrgus */
  background-color: #ffffff; /* Joon värv */
  margin: 20px auto; /* Paigutab joone horisontaalselt keskele ja lisab ülemise ja alumise marginaali */
  position: absolute; /* Absoluutne positsioneerimine */
  top: 55%; /* Ülaosas, lehe keskel */
  left: 45%; /* Horisontaalselt, lehe keskel */
  transform: translateY(-50%); /* Liigutab joone vertikaalselt ülespoole, et asuda täpselt lehe keskel */
}

.headerText {
  margin-top: 50px; /* Muudab ülemist vahe teksti ja ülemise pildi vahel */
  text-align: center; /* Kesktõmbab teksti horisontaalselt */
  font-weight: bold;
  font-size: 25px;
  color: #4ab9fa;
  text-align: left;
}
  
.pilt1, .pilt2, .pilt3 {
  transform: translate(1%, 0vh); 
  margin-right: 40px; /* Väike parem vahe, et eraldada järgmisest pildist */
  margin-top: 200px;  
}
.pilt1:hover, .pilt2:hover, .pilt3:hover {
  transform: scale(1.0); /* Muudab pildi suurust 20% võrra suuremaks hiirega peale liikudes */
  transition: transform 1s ease; /* Lisab ülemineku efekti suuruse muutmisel */
}

 

.container {
  display: flex;
  align-items: center; /* Kesktõmbab sisu vertikaalselt */
}

.img-container {
  flex: 1; /* Pilt võtab kogu ruumi */
  margin-right: 20px; /* Parempoolne vahe pildi ja teksti vahel */
}

.text-container {
  flex: 1; /* Tekst võtab kogu ruumi */
}

.main-link {
  position: relative;
  display: inline-block;
  width: auto;
}

.main-link h1 {
  position: absolute;
  top: 50%; /* Paigutage teksti keskele */
  left: 42%; /* Paigutage teksti keskele */
  transform: translate(-50%, -50%); /* Keskpunkt */
  color: white; /* Teksti värv */
  background-color: rgb(5, 17, 242); /* Läbipaistev taust */
  padding: 10px; /* Teksti polsterdus */
  border-radius: 20px;
  font-size: 30px;
}

.main-link:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}


