.order-container {
  display: flex;
  justify-content: space-between; /* Algne joondamine - sisu vahele jätmine */
  border: 1px solid #ccc;
  padding: 20px;
  
}

.order {
  color: #ccc;
  align-self: center; /* Ülemine osa keskjoondus vertikaalselt */
}


.radio {
  text-align: center; /* Horisontaalne keskjoondus */
}

.radio label {
  display: block; 
}


input[type="checkbox"]:focus {
  box-shadow: 0 0 3px 2px rgba(12, 12, 12, 0.2); 
}