.signIn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signIn-content {
  text-align: center;
  padding: 60px 70px;
  background-color: rgba(17, 16, 16, 0.315);
  box-shadow: 0px 0px 200px rgba(112, 0, 143, 0.993); 
  border: 1px solid rgb(242, 12, 181);
  border-radius: 30px;
}

.signup-content form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text-color {
  color: rgb(242, 12, 181);
}

label {
  display: flex;
  flex-direction: column;
  gap: px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  width: 250px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ca38f2;
  border-radius: 5px;
  background-color: #ebe9e9; /* Vaikimisi taustav채rv */
}

/* Stiil input-v채ljale aktiivse oleku korral (fokuseeritud) */
input:focus {
  border-color: #220ce7; /* Muutke piirjoone v채rvust aktiivse oleku korral */
  outline: none; /* Eemaldage vaikefookus */
  box-shadow: 0px 7px 20px #0d28c2; /* Lisa varjutus aktiivsele input-v채ljale */
}

.signup-content button {
  padding: 10px 20px; /* Polstri suurus */
  border-radius: 5px;
  background-color: #007bff;
  color: rgb(243, 239, 243);
  font-size: 16px;
  display: block; /* Muudab nupu blokk-veelemendiks */
  margin: 0 auto; /* Horisontaalne keskmine asetus */
}
