.course_container {
  margin-top: 10vh;
  margin-left: 45vh;
  margin-right: 50vh;
  border: 2px solid white;
  border-radius: 20px;
  z-index: 100;
}

.course_title {
  text-align: center;
  color: aliceblue;
  margin-top: 20px;
  margin-bottom: 10vh;
}

.course_description {
  color: aliceblue;
  margin-left: 20px;
  margin-right: 10px;
  line-height: 1.8;
}
