.App {
  text-align: center;
}

.avaleht {
  color: aqua;
  right: 5%;
  position: absolute;
}

.konteiner {
  background: linear-gradient(to bottom, #000000 50%, #ff0000d2 100%);
  background-size: cover;
  height: 98vh;
  
} 
.uudised-pilt {
  width: 30%; 
  height: 35%;
  position: relative;
  left: 20px;
  top: 15%;
  border: 3px solid #f5f10b; 
}
.pealkiri1{
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 6%;
  left: 44%;
  color: rgb(168, 255, 6);
  text-shadow: 2px 2px 5px rgba(208, 255, 0, 0.863);
  font-weight: bold;
   
}
.uudised {
  color:aqua;
  right: 5%;
  position: absolute;
}
.pilt {
  width: 30%; 
  height: 40%;
  position: relative;
  left: 34%;
  top: 15%;
  border: 3px solid #f5f10b; 
}
.pilt2 { 
  width: 30%; 
  height: 30%;
  position: relative;
  left: 30%;
  top: 15%;
  border: 3px solid #f5f10b; 
}
.uudised-pealkiri{
  position: absolute;
  text-transform: uppercase;
  text-align: center;
  top: 6%;
  left: 30%;
  color: rgb(168, 255, 6);
  text-shadow: 2px 2px 5px rgba(208, 255, 0, 0.863);
  font-weight: bold;
   
}

.avaleht-tekst {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0, 217, 255, 0.863);
  /* font-weight: bold; */
    position: absolute; /* Absoluutne positsioneerimine */
    top: 70%; /* Paigutamine 50% kaugusele ülemisest servast */
    left: 50%; /* Paigutamine 50% kaugusele vasakust servast */
    transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */
    text-align: center; /* Teksti keskjoondamine */ 
}
.uudised-tekst {
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 5px rgba(0, 217, 255, 0.863);
  position: absolute; /* Absoluutne positsioneerimine */
  top: 70%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 50%;
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */
  text-align: center; /* Teksti keskjoondamine */ 
}

.kontaktid {
  color: aqua;
  right: 5%;
  position: absolute;
  
}
.info {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 11%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 8%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */
  color: white; 
  text-decoration: underline;
}
.info2 {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 20%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 10%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white; 
}
.info3 {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 40%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 10%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white; 
}
.info4 {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 60%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 10.2%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white; 
}

.meist {
  color: aqua;
  right: 5%;
  position: absolute;
}
.meist-pealkiri1 {
  font-weight: bold;
  font-size: 40px;
  position: absolute; /* Absoluutne positsioneerimine */
  top: 9%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 22%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white; 
}
.meist-text {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 20%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 30%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white; 
}
.meist-pealkiri2 {
  font-weight: bold;
  font-size: 40px;
  position: absolute; /* Absoluutne positsioneerimine */
  top: 38%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 31%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white;  
}
.meist-text2 {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 50%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 50%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white;  
}
.meist-pealkiri3 {
  font-weight: bold;
  font-size: 40px;
  position: absolute; /* Absoluutne positsioneerimine */
  top: 69%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 50%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white;  
}
.meist-text3 {
  position: absolute; /* Absoluutne positsioneerimine */
  top: 83%; /* Paigutamine 50% kaugusele ülemisest servast */
  left: 62%; /* Paigutamine 50% kaugusele vasakust servast */
  transform: translate(-50%, -50%); /* Nihutamine tagasi 50% ulatuses nii horisontaalselt kui ka vertikaalselt */ 
  color: white;  
}
